<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>486394357258-bm38jbialmnrtuqjkdsu9o07d4a4kfdd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.486394357258-bm38jbialmnrtuqjkdsu9o07d4a4kfdd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>486394357258-eg4ao7i0n8bis2j87me5kid9r9k6vvek.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCsEL94I0jaAUXES2DkKIKak8L6az_2q2w</string>
	<key>GCM_SENDER_ID</key>
	<string>486394357258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ilyas666.sutkodlar-</string>
	<key>PROJECT_ID</key>
	<string>sutkodlar</string>
	<key>STORAGE_BUCKET</key>
	<string>sutkodlar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486394357258:ios:b30ea423580d78ce1821f3</string>
	<key>DATABASE_URL</key>
	<string>https://sutkodlar.firebaseio.com</string>
</dict>
</plist>